{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
<div class="col-12 mt-4">
  <nav role="navigation" aria-labelledby="{{ heading_id }}" aria-label="page navigation">
    <ul class="pagination pagination-sm">
      {# Print first item if we are not on the first page. #}
      <li class="page-item{{ items.first ? '' : ' disabled' }}">
        <a href="{{ items.first.href }}" class="page-link" aria-label="Previous" title="{{ 'Go to first page'|t }}"{{ items.first.attributes|without('href', 'title', 'class') }}>
          <i class="fa fa-angle-left"></i>
        </a>
      </li>

      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        {% apply spaceless %}
          <li class="page-item{{ current == key ? ' active' : '' }}">
            {% if current == key %}
              {% set title = 'Current page'|t %}
            {% else %}
              {% set title = 'Go to page @key'|t({'@key': key}) %}
            {% endif %}
            <a href="{{ item.href }}" class="page-link fw-bolder" title="{{ title }}"{{ item.attributes|without('href', 'title', 'class') }}>
              {{ key }}
            </a>
          </li>
        {% endapply %}
      {% endfor %}

      {# Print last item if we are not on the last page. #}
      <li class="page-item{{ items.last ? '' : ' disabled' }}">
        <a href="{{ items.last.href }}" class="page-link" aria-label="Next" title="{{ 'Go to last page'|t }}"{{ items.last.attributes|without('href', 'title', 'class') }}>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
{% endif %}
