<div class="contact-01-section-01 section-margin">
  <div class="components-023">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6 col-12 justify-content-center align-self-center">
          <div class="bg bg-01"></div>
        </div>
        <div class="col-lg-6 col-12 justify-content-center align-self-center">
          <h2 class="text-white text-uppercase ps-lg-4 ps-0">Contact Us</h2>
          <div class="row">
            <div class="col-lg-6 col-12">
              <form>
                <div class="input-group input-group-static my-3">
                  <label class="text-white fs-6 fw-bolder text-uppercase">Full name</label>
                  <input class="form-control" type="text" name="user-name"/>
                </div>
                {{ form.subject }}
                {{ form.message }}
                {{ form.form_build_id }}
                {{ form.form_token }}
                {{ form.form_id }}
                <button class="my-3 btn btn-outline-primary">Submit</button>
              </form>
            </div>
            <div class="col-lg-6 col-12">
              <div class="d-flex align-items-start flex-column h-100">
                <div class="flex-column my-3">
                  <div class="h5 text-white">Contact</div><span class="fw-normal">admin@bussiway.com</span>
                </div>
                <div class="flex-column my-2">
                  <div class="h5 text-white">Based in</div>
                  <div class="d-block fw-normal">Broadway,</div>
                  <div class="d-block fw-normal">New York</div>
                </div>
                <div class="flex-column pb-3 mt-auto">
                  <div class="d-block">
                    <div class="icon-wrapper"><a class="social social-01" href="#"></a><a class="social social-02" href="#"></a><a class="social social-03" href="#"></a><a class="social social-04" href="#"></a><a class="social social-05" href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

