<div class="home01-section-01 home-section-margin">
  <header class="components-001">
    <div class="overlay"></div>
    <div class="container hero-01">
      <div class="d-flex flex-lg-row flex-md-row flex-column">
        <div class="row">
          <div class="col-lg-6 col-12 justify-content-center align-self-center">
            <div class="info">
              <div class="pattern-dots-sm title-pattern">
                <h1 class="text-white">Our Business Purpose</h1>
              </div><span class="lead desc">Long before corporate purpose became a buzzword, Busiway BrightHouse, a global creative consultancy, pioneered business purpose consulting. We unleash the power of purpose—the why driving what you do—to transform your productivity and profitability.</span>
              <div class="d-block"><a class="btn btn-outline-white btn-lg" href="#">More</a></div>
            </div>
          </div>
          <div class="col-lg-6 col-12 justify-content-center align-self-center">
            <div class="video"> <img class="img-fluid" src="{{ base_path ~ directory }}/css/images/home-video-02.jpg" alt="hero_background_01"/>
              <div class="overlay-video"></div>
              <button class="play-button" id="videoTrigger001" type="button" data-tagVideo="https://www.youtube.com/embed/XnWD60rk_mk" data-bs-toggle="modal" data-bs-target="#videoModal001"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="videoModal001" tabindex="-1" aria-labelledby="videoModal001Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="close-line-01"></span></button>
            <div class="ratio ratio-16x9">
              <iframe id="videoContainer001" src="" allow="autoplay;" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="home01-section-02 home-section-margin">
  <div class="components-003">
    <div class="container">
      <div class="row">
        <div class="card-group">
          <div class="col-lg-4 col-md-6 col-12 card-wrapper card-wrapper-01">
            <div class="card">
              <div class="overlay"></div>
              <div class="d-flex align-items-start flex-column h-100 card-body">
                <p class="fs-4 fw-bold card-title">Expertise</p>
                <p class="fw-normal card-text">We specialise in improving a business’s performance that’s our one and only focus. We concentrate on that one area and that is why  back ourselves to improve any businesses improvement.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 card-wrapper card-wrapper-02">
            <div class="card active">
              <div class="overlay"></div>
              <div class="d-flex align-items-start flex-column h-100 card-body">
                <p class="fs-4 fw-bold card-title">Flexibility</p>
                <p class="fw-normal card-text">We are never fixed on a particular methodology but rather fixed on achieving a client’s required outcome. We address the needs, adapt and provide the most appropriate methodology and solution dependent on the businesses goals.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 card-wrapper card-wrapper-03">
            <div class="card">
              <div class="overlay"></div>
              <div class="d-flex align-items-start flex-column h-100 card-body">
                <p class="fs-4 fw-bold card-title">Independence</p>
                <p class="fw-normal card-text">We ask the tough questions with sometimes the unpopular answers come out. We stay unbiased which gives us the ability to disagree and take the emotion out of decisions but rather base initiatives on facts.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home01-section-03 home-section-margin">
  <div class="container">
    <div class="components-title-01">
      <div class="part-01">
        <div class="fs-1 fw-bolder text-uppercase">1st</div>
      </div>
      <div class="divider pattern-dots-sm">
        <div class="divide"></div>
      </div>
      <div class="part-02">
        <h2 class="text-uppercase">What Services We Offered</h2>
      </div>
    </div>
  </div>
  <div class="components-004">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12 outer-wrapper">
          <div class="d-flex flex-column h-100 inner-body"><img src="{{ base_path ~ directory }}/css/images/accurate.png" alt="Agile"/>
            <div class="fs-4 fw-bolder text-capitalize text-break">Agile</div>
            <p class="card-text fw-normal mt-2">Become faster, more flexible, and intensely customer-focused.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 outer-wrapper">
          <div class="d-flex flex-column h-100 inner-body"><img src="{{ base_path ~ directory }}/css/images/economony.png" alt="Transformation"/>
            <div class="fs-4 fw-bolder text-capitalize text-break">Transformation</div>
            <p class="card-text fw-normal mt-2">Deliver great customer experiences that increase loyalty and decrease costs.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 outer-wrapper">
          <div class="d-flex flex-column h-100 inner-body"><img src="{{ base_path ~ directory }}/css/images/creativity.png" alt="Strategy"/>
            <div class="fs-4 fw-bolder text-capitalize text-break">Strategy</div>
            <p class="card-text fw-normal mt-2">Join the elite ranks of sustained value creators.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 outer-wrapper">
          <div class="d-flex flex-column h-100 inner-body"><img src="{{ base_path ~ directory }}/css/images/communicate.png" alt="Sales &amp; Marketing"/>
            <div class="fs-4 fw-bolder text-capitalize text-break">Sales &amp; Marketing</div>
            <p class="card-text fw-normal mt-2">Build a customer-focused—and growth-oriented—organization.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 outer-wrapper">
          <div class="d-flex flex-column h-100 inner-body"><img src="{{ base_path ~ directory }}/css/images/safe.png" alt="Customer Experience"/>
            <div class="fs-4 fw-bolder text-capitalize text-break">Customer Experience</div>
            <p class="card-text fw-normal mt-2">Deliver great customer experiences that increase loyalty and decrease costs.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 outer-wrapper">
          <div class="d-flex flex-column h-100 inner-body"><a class="link-wrapper" href="/service-detail">
              <div class="d-flex flex-row align-items-center"><span class="fs-5 fw-bolder text-uppercase">More</span><i class="ms-2 fas fa-long-arrow-alt-right"></i></div></a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home01-section-04 home-section-margin">
  <div class="container">
    <div class="components-title-01">
      <div class="part-01">
        <div class="fs-1 fw-bolder text-uppercase">2nd</div>
      </div>
      <div class="divider pattern-dots-sm">
        <div class="divide"></div>
      </div>
      <div class="part-02">
        <h2 class="text-uppercase">Who We Are</h2>
      </div>
    </div>
  </div>
  <div class="components-005">
    <div class="container">
      <div class="d-flex flex-lg-row flex-md-row flex-column">
        <div class="row">
          <div class="col-lg-6 col-12 justify-content-center align-self-center order-lg-2 order-1">
            <div class="img-wrapper">
              <div class="img-bg-001"></div><img class="img-fluid img-property-01" src="{{ base_path ~ directory }}/css/images/components-005-img-01.jpg" alt="about_us"/>
            </div>
          </div>
          <div class="col-lg-6 col-12 justify-content-center align-self-center order-lg-1 order-2">
            <div class="content-wrapper">
              <p class="fw-normal mt-lg-0 mt-3">We're on a mission to help elevate the creative goals of distinctive businesses, organizations and institutions who are making an impact in our communities. </p>
              <div class="row mt-3">
                <div class="d-flex flex-sm-row flex-column justify-content-around">
                  <div class="col-sm-6 col-12 mt-sm-0 mt-0">
                    <div class="d-flex"><span class="fw-bolder icon-01">Unparalleled Quality</span></div>
                  </div>
                  <div class="col-sm-6 col-12 mt-sm-0 mt-2">
                    <div class="d-flex"><span class="fw-bolder icon-01">Concidence in comfort</span></div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="d-flex flex-sm-row flex-column justify-content-around">
                  <div class="col-sm-6 col-12 mt-sm-0 mt-0">
                    <div class="d-flex"><span class="fw-bolder icon-01">Execute speed up</span></div>
                  </div>
                  <div class="col-sm-6 col-12 mt-sm-0 mt-2">
                    <div class="d-flex"><span class="fw-bolder icon-01">Communicate with relax</span></div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="d-flex flex-sm-row flex-column justify-content-around">
                  <div class="col-sm-6 col-12 mt-sm-0 mt-0">
                    <div class="d-flex"><span class="fw-bolder icon-01">Deep into your want</span></div>
                  </div>
                  <div class="col-sm-6 col-12 mt-sm-0 mt-2">
                    <div class="d-flex"><span class="fw-bolder icon-01">Caring for your planet</span></div>
                  </div>
                </div>
              </div>
              <div class="row"><a class="link-wrapper" href="/about">
                  <div class="d-flex flex-row align-items-center"><span class="fs-5 fw-bolder text-uppercase">More</span><i class="ms-2 fas fa-long-arrow-alt-right"></i></div></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home01-section-05 home-section-margin">
  <div class="components-006">
    <div class="components-006-bg-01 components-006-rellax-01" data-rellax-percentage="0.5"></div>
    <div class="d-block w-100 padding-y bg-map home-bg-001">
      <div class="container">
        <div class="row">
          <div class="col-12 z-index-01">
            <div class="components-title-01">
              <div class="part-01">
                <div class="fs-1 fw-bolder text-uppercase  text-white">3rd</div>
              </div>
              <div class="divider pattern-dots-sm  text-white">
                <div class="divide"></div>
              </div>
              <div class="part-02">
                <h2 class="text-uppercase  text-white">Our milestone</h2>
              </div>
            </div>
            <p class="text-white lead descript">Here record what we have done and big goals completed be archieved in the past</p>
          </div>
        </div>
      </div>
    </div>
    <div class="counter-container-01">
      <div class="container counter-main">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-12 pt-3">
            <div class="d-flex flex-column">
              <div class="justify-content-center align-self-center">
                <div class="inner-wrapper">
                  <div class="wrapper justify-content-center align-self-center">
                    <div class="fs-3 text-center text-uppercase fw-bolder" id="countUp01">0</div>
                    <div class="d-block">
                      <p class="text-center">hours we service</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 pt-3">
            <div class="d-flex flex-column">
              <div class="justify-content-center align-self-center">
                <div class="inner-wrapper">
                  <div class="wrapper justify-content-center align-self-center">
                    <div class="fs-3 text-center text-uppercase fw-bolder" id="countUp02">0</div>
                    <div class="d-block">
                      <p class="text-center">clients we served</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 pt-3">
            <div class="d-flex flex-column">
              <div class="justify-content-center align-self-center">
                <div class="inner-wrapper">
                  <div class="wrapper justify-content-center align-self-center">
                    <div class="fs-3 text-center text-uppercase fw-bolder" id="countUp03">0</div>
                    <div class="d-block">
                      <p class="text-center">teamates we have</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 pt-3">
            <div class="d-flex flex-column">
              <div class="justify-content-center align-self-center">
                <div class="inner-wrapper">
                  <div class="wrapper justify-content-center align-self-center">
                    <div class="fs-3 text-center text-uppercase fw-bolder" id="countUp04">0</div>
                    <div class="d-block">
                      <p class="text-center">projects we completed</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home01-section-06 home-section-margin">
  <div class="container">
    <div class="components-title-01">
      <div class="part-01">
        <div class="fs-1 fw-bolder text-uppercase">4th</div>
      </div>
      <div class="divider pattern-dots-sm">
        <div class="divide"></div>
      </div>
      <div class="part-02">
        <h2 class="text-uppercase">pricing</h2>
      </div>
    </div>
  </div>
  <div class="components-007">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="d-flex flex-column h-100 main-wrapper">
            <ul class="main-cp-007">
              <li class="text-center">
                <div class="d-flex flex-row justify-content-start align-items-center align-self-center">
                  <div class="d-flex flex-row"><i class="fa fas fa-dollar-sign"></i></div>
                  <div class="d-flex flex-row">
                    <div class="fs-3">30</div>
                  </div>
                  <div class="d-flex flex-row ms-1 time-position">
                    <div class="lead">/ month</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="fs-4 fw-bold text-uppercase title-primary">The Community Plan</div>
              </li>
              <li>
                <p>Build a website and community that you can charge for.</p>
              </li>
            </ul>
            <div class="divider mt-auto">
              <div class="divide"></div>
            </div>
            <ul class="list-group mt-2">
              <li class="list-group-item"><i class="fas fa-check active"></i><span class="active">Native Livestreaming &amp; Video</span></li>
              <li class="list-group-item"><i class="fas fa-check active"></i><span class="active">Chat &amp; Messaging</span></li>
              <li class="list-group-item"><i class="fas fa-check deactive"></i><span class="deactive">Online Courses.</span></li>
              <li class="list-group-item"><i class="fas fa-check deactive"></i><span class="deactive">Branded App Notifications</span></li>
            </ul>
            <div class="d-block mt-2">
              <button class="btn btn-custom-reverse btn-primary">Purchase</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 mt-md-0 mt-sm-0 mt-4">
          <div class="d-flex flex-column h-100 main-wrapper active">
            <ul class="main-cp-007">
              <li class="text-center">
                <div class="d-flex flex-row justify-content-start align-items-center align-self-center">
                  <div class="d-flex flex-row"><i class="fa fas fa-dollar-sign"></i></div>
                  <div class="d-flex flex-row">
                    <div class="fs-3">41</div>
                  </div>
                  <div class="d-flex flex-row ms-1 time-position">
                    <div class="lead">/ month</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="fs-4 fw-bold text-uppercase title-secondary">The Business Plan</div>
              </li>
              <li>
                <p>Grow a business with a community, online courses, events, and groups all in one place.</p>
              </li>
            </ul>
            <div class="divider mt-auto">
              <div class="divide"></div>
            </div>
            <ul class="list-group mt-2">
              <li class="list-group-item"><i class="fas fa-check active"></i><span class="active">Native Livestreaming &amp; Video</span></li>
              <li class="list-group-item"><i class="fas fa-check active"></i><span class="active">Chat &amp; Messaging</span></li>
              <li class="list-group-item"><i class="fas fa-check active"></i><span class="active">Online Courses.</span></li>
              <li class="list-group-item"><i class="fas fa-check deactive"></i><span class="deactive">Branded App Notifications</span></li>
            </ul>
            <div class="d-block mt-2">
              <button class="btn btn-custom-reverse btn-secondary">Purchase</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 mt-lg-0 mt-md-4 mt-4">
          <div class="d-flex flex-column h-100 main-wrapper">
            <ul class="main-cp-007">
              <li class="text-center">
                <div class="d-flex flex-row justify-content-start align-items-center align-self-center">
                  <div class="d-flex flex-row"><i class="fa fas fa-dollar-sign"></i></div>
                  <div class="d-flex flex-row">
                    <div class="fs-3">55</div>
                  </div>
                  <div class="d-flex flex-row ms-1 time-position">
                    <div class="lead">/ month</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="fs-4 fw-bold text-uppercase title-primary">The Pro Plan</div>
              </li>
              <li>
                <p>Level up a thriving business with your own branded apps</p>
              </li>
            </ul>
            <div class="divider mt-auto">
              <div class="divide"></div>
            </div>
            <ul class="list-group mt-2">
              <li class="list-group-item"><i class="fas fa-check active"></i><span class="active">Native Livestreaming &amp; Video</span></li>
              <li class="list-group-item"><i class="fas fa-check active"></i><span class="active">Chat &amp; Messaging</span></li>
              <li class="list-group-item"><i class="fas fa-check active"></i><span class="active">Online Courses.</span></li>
              <li class="list-group-item"><i class="fas fa-check active"></i><span class="active">Branded App Notifications</span></li>
            </ul>
            <div class="d-block mt-2">
              <button class="btn btn-custom-reverse btn-primary">Purchase</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home01-section-07 home-section-margin">
  <div class="components-010 home-bg-001">
    <div class="components-010-bg-01 components-010-rellax-01" data-rellax-percentage="0.5"></div>
    <div class="container">
      <div class="components-title-01">
        <div class="part-01">
          <div class="fs-1 fw-bolder text-uppercase  text-white">5th</div>
        </div>
        <div class="divider pattern-dots-sm  text-white">
          <div class="divide"></div>
        </div>
        <div class="part-02">
          <h2 class="text-uppercase  text-white">f.a.q</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="accordion accordion-flush">
            <div class="accordion-content mb-3">
              <div class="accordion-item">
                <div class="accordion-header" id="qna1-h-01">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#qna1-a-01" aria-expanded="aria-expanded" aria-controls="qna1-a-01">
                    <p class="fs-5 fw-bolder title">How are personal belongings transported abroad?</p><span class="accordion-icon"></span>
                  </button>
                </div>
                <div class="accordion-collapse collapse show" id="qna1-a-01" aria-labelledby="qna1-h-01" data-bs-parent="#qna1">
                  <div class="accordion-body">
                    <p class="fw-normal">Temporary or permanent work assignments, studying abroad or returning home - there are many reasons for transporting personal effects or furniture across the border. No matter what the motive may be, it is always important that they arrive at their destination safely and on time.</p>
                    <p class="fw-normal">If you want to transport your personal belongings abroad, start by making a detailed list with an approximate value of each item. All items must be listed by packaging unit (box, crate, bag, etc.), and each packaging unit needs to be clearly marked and numbered. This list is handed over to the freight forwarder, who will prepare the documents for the customs authorities.</p>
                    <p class="fw-normal">The choice of transport method will depend on the shipment volume, the destination, and on how quickly you need your items delivered.Road transport can be a cost-effective option for closer destinations. You can have a truck or van hired exclusively for your needs, or make use of groupage transport.</p>
                    <p class="fw-normal">For overseas destinations, seafreight is the most economical option. You can book a full container or make use of consolidated transport, sharing a container with other shippers. Some forwarders will require special wooden crates, while others also accept cardboard boxes or suitcases.</p>
                    <p class="fw-normal">If you have only a few boxes and need them shipped as quickly as possible, airfreight is the simplest option. Airlines will charge based on the actual or “calculated weight” of your shipment, whichever is higher. The calculated weight in kg is determined as follows: length x width x height in centimetres, divided by 6,000.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="accordion accordion-flush">
            <div class="accordion-content mb-3">
              <div class="accordion-item">
                <div class="accordion-header" id="qna1-h-02">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#qna1-a-02" aria-controls="qna1-a-02">
                    <p class="fs-5 fw-bolder title">What is the procedure for importing herbal supplements for animals?</p><span class="accordion-icon"></span>
                  </button>
                </div>
                <div class="accordion-collapse collapse" id="qna1-a-02" aria-labelledby="qna1-h-02" data-bs-parent="#qna1">
                  <div class="accordion-body">
                    <p class="fw-normal">First of all, you should have your own warehouse or a signed storage contract with a company that offers warehouse space approved by the veterinary inspection to store this type of goods.</p>
                    <p class="fw-normal">The goods are reported to the Veterinary Inspection at the border crossing and sent to the above-mentioned warehouse, where they will be placed under customs or veterinary supervision until the end of the customs clearance procedure.</p>
                    <p class="fw-normal">If it is a food supplement, i.e. the product is not characterized as medicine, no additional registration is required. However, the goods will still need to be cleared through customs based on the statement of the importer confirming the categorization of the product.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home01-section-08 home-section-margin">
  <div class="components-008">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-12">
          <div class="pe-lg-3 pe-0">
            <div class="components-title-01">
              <div class="part-01">
                <div class="fs-1 fw-bolder text-uppercase">6th</div>
              </div>
              <div class="divider pattern-dots-sm">
                <div class="divide"></div>
              </div>
              <div class="part-02">
                <h2 class="text-uppercase">testimonials</h2>
              </div>
            </div>
            <p class="fw-bolder descript_01">With Busiway , connecting the world are becoming smarter, greener, and more cost effective.</p>
          </div>
        </div>
        <div class="col-lg-5 col-12 block-wrapper">
          <div class="swiper-container" id="slider-02">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="main-wrapper">
                  <div class="content-wrapper bg-white">
                    <div class="container">
                      <div class="d-block rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div>
                      <div class="d-block desc">
                        <p>Busiway expertise was instrumental in helping our company to grow from a odd little pet blog to the largest humor network on the Web.</p>
                      </div>
                    </div>
                  </div>
                  <div class="d-block user-profile">
                    <div class="container">
                      <div class="d-flex flex-row wrapper">
                        <div class="d-flex flex-column justify-content-center align-items-center align-self-center avatar-wrapper"><img class="me-2 avatar avatar-lg rounded-circle" src="{{ base_path ~ directory }}/css/images/testimonials-avatar-02.jpg" alt="components_008_avatar_image"/></div>
                        <div class="d-flex flex-column align-self-center profile-wrapper"><span class="fs-5 fw-bolder user-name">Daniel King</span><span class="fw-normal text-uppercase user-title">CEO</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="main-wrapper">
                  <div class="content-wrapper bg-white">
                    <div class="container">
                      <div class="d-block rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div>
                      <div class="d-block desc">
                        <p>Busiway helps me build processes and automation into my busniess like a professional without learning a lot of time.</p>
                      </div>
                    </div>
                  </div>
                  <div class="d-block user-profile">
                    <div class="container">
                      <div class="d-flex flex-row wrapper">
                        <div class="d-flex flex-column justify-content-center align-items-center align-self-center avatar-wrapper"><img class="me-2 avatar avatar-lg rounded-circle" src="{{ base_path ~ directory }}/css/images/testimonials-avatar-01.jpg" alt="components_008_avatar_image"/></div>
                        <div class="d-flex flex-column align-self-center profile-wrapper"><span class="fs-5 fw-bolder user-name">Kat Bruce</span><span class="fw-normal text-uppercase user-title">CFO</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home01-section-09 home-section-margin">
  <div class="components-024 home-bg-001">
    <div class="components-024-bg-01 components-024-rellax-01" data-rellax-percentage="0.5"></div>
    <div class="container">
      <div class="components-title-01">
        <div class="part-01">
          <div class="fs-1 fw-bolder text-uppercase  text-white">7th</div>
        </div>
        <div class="divider pattern-dots-sm  text-white">
          <div class="divide"></div>
        </div>
        <div class="part-02">
          <h2 class="text-uppercase  text-white">timeline</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ol>
          <div class="d-flex flex-column">
            {% if time_line is not empty %}
              {% for key, value in time_line %}
                <li class="wrapper components-024-animation-toggle">
                  <div class="inner-wrapper">
                    <div class="part-01">
                      <div class="title">
                        <div class="fs-3 fw-bolder text-uppercase title-wrapper">{{ value.title.value }}</div>
                      </div>
                    </div>
                    <div class="part-02">
                      <div class="content"><span class="fw-bolder">{{ value.content.value }}</span></div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            {% endif %}
          </div>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="home01-section-10 home-section-margin">
  <div class="container">
    <div class="components-title-01">
      <div class="part-01">
        <div class="fs-1 fw-bolder text-uppercase">8th</div>
      </div>
      <div class="divider pattern-dots-sm">
        <div class="divide"></div>
      </div>
      <div class="part-02">
        <h2 class="text-uppercase">latest blog</h2>
      </div>
    </div>
  </div>
  <div class="components-009">
    <div class="container">
      <div class="row">
        {% if blogs is not empty %}
          {% set className = '' %}
          {% for key, blog in blogs %}
            {% if key > 0 %}
              {% set className = ' blog-margin' %}
            {% endif %}
            <div class="col-lg-6 col-12 components-009-block-01{{ className }}">
              <div class="main-wrapper">
                <div class="d-block">
                  <img class="img-fluid" src="{{ file_url(blog.content.field_preview.entity.fileuri) }}" alt="{{ blog.content.field_preview.entity.alt }}"/>
                </div>
                <div class="inner-content-wrapper">
                  <div class="d-block title mt-3">
                    <h4 class="fw-bolder">{{ blog.content.title.value }}</h4>
                  </div>
                  <div class="d-block desc">
                    {{ blog.content.field_body.summary }}
                  </div>
                  <div class="d-flex flex-direction justify-content-between">
                    <div class="d-flex flex-row">
                      <div class="d-flex flex-column me-2 justify-content-center align-items-center align-self-center">
                        <img class="avatar avatar-lg rounded-circle" src="{{ file_url(blog.author_avatar.entity.fileuri) }}" alt="{{ blog.author_name }}"/>
                      </div>
                      <div class="d-flex flex-column align-self-center">
                        <span class="fs-5 fw-bolder">{{ blog.author_name }}</span>
                        <span class="small fw-normal">{{ blog.content.created.value|date("Y-m-d H:i:s") }}</span>
                      </div>
                    </div>
                    <div class="d-flex flex-row">
                      <div class="d-flex flex-column justify-content-center align-items-center align-self-center">
                        <a class="article-link" href="{{ blog.content.view_url }}">
                          <span class="fw-bolder text-uppercase">More</span>
                          <i class="ms-2 fas fa-long-arrow-alt-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
